.list {
  margin-top: 40px;
  padding-left: 48px;
}
li {
  width: 82%;
  height: 48px;
  border: 1px red solid;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  background-color: white;
  display: flex;
  margin-bottom: 8px;
  font-size: 30px;
}
button {
  height: 48px;
  width: 2em;
  background-color: rgb(255, 255, 255);
  border: 1px red solid;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding-bottom: 8px;
}
span {
  width: 90%;
}
ul {
  height: 60px;
  justify-content: center;
}
.done {
  text-decoration: line-through;
}
